body {
  background-color: #fff;
  font-family: 'Geologica', sans-serif;
  margin: 0;
}
.container {
  max-width: 1100px;
  margin: auto;
}

.container-en{
  display: flex;
    align-items: center;
}
.header-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header{
  position: relative;
  background: #E4E5E8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding-top: 4px;
  padding-bottom: 4px;
}
.buttons {
  display: flex;
  align-items: center;
}
.button:hover{
  color: #00659F;
  background-color: #F4F5F8;
  border: 1px solid #00659F;
}
.button {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  background: #00659F;
  border: 0px solid #ffff;
  border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button-primary {
  margin-right: 10px;
  border-radius: 3px;
}
.input {
  background: #F4F5F8;
  border: 1px solid rgba(94, 115, 126, 0.24);
  border-radius: 3px;
  width: 250px;
  line-height: 15px;
  padding: 4px;
  padding-left: 4px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  
}

.input-address {
  flex: 0.8;
  background-image: url(../img/326690_magnify_search_zoom_icon.svg);
  background-size: 15px;
  padding-left: 13px;
  padding-right: 35px;
}
.header-logo-tmx{
    height: 40px;
}
.header-logo-kolomna{
    height: 40px;
}
.container-two{
  padding-top: 7px;
  padding-bottom: 4px;
    display: flex;
    align-items: center;  
    justify-content: space-between;
}
.header-two{
  max-width: 1100px;
    margin: auto;
    
}
.ordena{
  height: 35px;
}
.header-container-ordena{
  margin: 0 auto;
  width: 30%;
}
.background{
  background-image: url(../img/header_bg.jpg);
}
.personal-account{
  margin-top: 40px;
  margin-bottom: 50px;
}
.block-ul{
    border: 2px solid rgba(94, 115, 126, 0.3);
      border-radius: 3px;
      margin-bottom: 30px;
}
li{
  list-style-type: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.block-link{
  color: #004369;
  font-size: 14px;
}
.block-link-setting{
  color: #FF8A00;
}
.image-link{
  padding-right: 11px;
  
}
.button-block{
  border: 2px solid #00659F;
    border-radius: 3px;
    color: #00659F;
    background-color: #fff;
    display: flex;
      align-items: center;
}
.block-button-text{
  padding-left: 9px;
  padding-right: 22px;
  margin: 10px;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.block-two{
  border: 2px solid rgba(94, 115, 126, 0.3);
    border-radius: 3px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 25px;
}
.foto{
  box-sizing: border-box;
    width: 135px;
    height: 135px;
    border: 1px dashed #737373;
}
.foto-link{
  color: #00659F;
  text-decoration: none;
  text-decoration-line: underline;
  font-size: 12px;
}
.foto{
  align-items: center;
  display: flex;
  justify-content: center;
}
.foto-text{
  color: #737373;
  align-items: center;
  text-align: center;
  font-size: 12px;
}
.loading-foto{
  margin-top: 6px;
  justify-content: center;
  align-items: center;
  margin-left: 23px;
}
.block-foto{
  align-items: center;
    flex-direction: column;
    margin-right: 55px;
  }
.block-input{
  background: #F4F5F8;
    border: 1px solid rgba(94, 115, 126, 0.24);
    box-shadow: inset 0px 0px 5px rgba(94, 115, 126, 0.08);
    border-radius: 3px;
    height: 30px;
    width: 200px;
    font-size: 12px;
    margin-bottom: 25px;
    padding-left: 15px;
    
}
.block-data{
  margin-right: 55px;

}
.block-inputs{
  display: flex;
  flex-direction: column;
}
.block-button{
    display: flex;
    align-items: center;
    padding: 7px 37px;
    background: #00659F;
    box-shadow: 0px 4px 0px #004369;
    border: 0px solid #ffff;
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.block-button:hover {
  color: #00659F;
  background-color: #ffffff;
  border: 1px solid #00659F;
}
.block-two-personal-account{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 43px;
}
.block-div{
  display: flex;
  align-items: flex-start;
}

.block-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.text-personal-account{
  margin-left: 55px;
}
.block-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 95%;
  margin-top: 28px;
}
.text-personal{
  margin-right: 74px;
}

.vector-container{
  margin-bottom: 23px;
}
.block-agreement{
display: flex;
  justify-content: space-around;
  align-items: center;
}
.checkbox{
  height: 15px;
  width: 15px;
  margin-right: 8px;
}
.vector-checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.container-blocks{
  display: flex;
  align-items: flex-start;
}
.block-one{
  margin-right: 70px;
}
.block-one-link{
  padding-right: 70px;
  padding-left: 20px;
}
.container-pa{
margin: 0 auto;
width: 80%;
}
.basement-banner{
  margin: 0 auto;
}
.basement-img{
width: 100%;
height: 200px;
}

.basement-text{
  color: #fff;
}
.one-text-basement{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link-and-data{
  display: flex;
  align-items: center;
}
.basement-back-banner{
max-width: 1200px;
  margin: auto;
  margin-top: 5px;
  padding-bottom: 5px;
}
.support{
  padding-right: 40px;
}
.basement-site{
  text-decoration: none;
  color: #fff;
}
.vector-touch{
  padding-left: 10px;
  padding-right: 10px;

}
.link-image{
  width: 15%;
  margin-left: 10px;
}
.basement{
  background-color: #737373;
}
.basement-basement{
  background-color: #737373;
}

/*МЕДИЯ*/
@media (max-width:480px){
  body{
    min-width: 725px;
    width: 100%;
    margin: 0 auto;
  }
  .container{
    max-width: 686px;
    margin-right: -8px;
  }
  .header-container-link{
    margin-left: 40px;
  }
  .container-pa{
    width: 90%;
  }
  h2{
    font-size: 40px;
  }
  .container-blocks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .block-ul{
    width: 500px;
  }
  .block-link{
    font-size: 25px;
  }
  .block-link-setting{
    font-size: 30px;
  }
  .image-link{
    width: 20px;
  }
  .block-one-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
  }
  .button-block{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .block-button-text{
    font-size: 20px;
  }
  .block-button{
    font-size: 20px;
    padding: 17px 40px;
  }
  .vector-checkbox{
    font-size: 18px;
  }
  .block-div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .foto{
    width: 200px;
    height: 200px;
  }
  .foto-text{
    font-size: 20px;
  }
  .foto-link{
    font-size: 16px;
  }
  .loading-foto{
    margin-left: 38px;
  }
  .block-container{
    margin-bottom: 30px;
  }
  .block-input{
    font-size: 20px;
    padding-left: 20px;
    width: 270px;
    height: 40px;
  }
  .block-data{
    margin-right: 30px;
  }
  .block-text{
    width: 83%;
  }
  .text-personal{
    margin-right: 68px;
  }
  h5{
    font-size: 20px;
  }
  .block-two{
    padding: 0;
  }
}
@media (min-width:481px) and (max-width:768px) {
  body {
    min-width: 747px;
    width: 100%;
    margin: 0;
  }

  .container {
    max-width: 738px;
    margin-right: -8px;
  }
  .button{
    padding: 3px 7px;
    font-size: 10px;
  }
  .input-address{
    padding: 2px;
    padding-left: 10px;
  }
  .header-container-link {
    margin-left: 40px;
  }

  .container-pa {
    width: 90%;
  }

  h2 {
    font-size: 30px;
  }

  .container-blocks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .block-ul {
    width: 300px;
  }

  .block-link {
    font-size: 15px;
  }

  .block-link-setting {
    font-size: 20px;
  }

  .image-link {
    width: 15px;
  }

  .block-one-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .button-block {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .block-button-text {
    font-size: 16px;
  }

  .block-button {
    font-size: 16px;
    padding: 12px 40px;
  }

  .vector-checkbox {
    font-size: 14px;
  }

  .block-div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .foto {
    width: 150px;
    height: 150px;
  }

  .foto-text {
    font-size: 16px;
  }

  .foto-link {
    font-size: 12px;
  }

  .loading-foto {
    margin-left: 30px;
  }

  .block-container {
    margin-bottom: 20px;
  }

  .block-input {
    font-size: 16px;
    padding-left: 20px;
    width: 240px;
    height: 35px;
  }

  .block-data {
    margin-right: 30px;
  }

  .block-text {
    width: 83%;
  }

  .text-personal {
    margin-right: 68px;
  }

  h5 {
    font-size: 20px;
  }

  .block-two {
    padding: 0;
  }
  .basement-img{
    height: 150px;
  }
  .basement-back-banner{
    margin-left: 30px;
  }
}
@media (min-width:769px) and (max-width:1024px) {
  body {
      min-width: 725px;
      width: 100%;
      margin: 0 auto;
    }
  .container {
      max-width: 908px;
      margin-right: 13px;
    }
    .header-two{
      max-width: 908px;
      margin-right: 13px;
    }
    .button {
      padding: 3px 7px;
      font-size: 10px;
    }
  
    .input-address {
      padding: 2px;
      padding-left: 10px;
    }
  
    .header-container-link {
      margin-left: 40px;
    }
  
    .container-pa {
      width: 90%;
    }
    .block-one-link{
      padding-right: 20px;
    }
    .block-link{
      font-size: 12px;
    }
    .block-link-setting{
      font-size: 14px;
    }
    .image-link{
      width: 15px;
    }
    .block-button-text{
      font-size: 17px;
      margin: 4px;
    }
    .block-one{
      margin-right: 40px;
    }
    .block-two{
      padding-left: 25px;
      padding-left: 25px;
      width: 517px;
    }
    .block-div{
      display: flex;
      flex-direction: column;
        align-items: flex-start;
    }
    .block-two-personal-account{
      display: flex;
      justify-content: flex-start;
      width: 88%;
    }
    .block-foto{
      margin-bottom: 30px;
    }
    .block-text{
      display: flex;
      justify-content: flex-start;
      margin-left: 30px;
    }
    .block-vector img{
      width: 530px;
    }
    .text-personal{
      margin-left: 148px;
    }
    .vector-container{
      margin-left: 40px;
    }
            .basement-img {
              height: 150px;
            }
      
            .basement-back-banner {
              margin-left: 30px;
            }
}
@media (min-width:1025px) and (max-width:1200px){
  body {
      min-width: 725px;
      width: 120%;
      margin: 0 auto;
    }
}