body {
  font-family: 'Geologica', sans-serif;
  font-weight: 500;
  min-height: 100vh;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #579DFF;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form {
  width: min(100%, 419px);
  background: #F4F5F8;
  box-shadow: 10px 20px 0px #00659F;
  border-radius: 3px;
  padding: 40px;
}

.form-title {
  position: relative;
  padding-left: 15px;
  margin-bottom: 20px;
}

.form-title::before {
  content: '';
  position: absolute;
  width: 7px;
  height: 100%;
  background: #00659F;
  left: 0;
}

.form-title h1 {
  color: var(--text);
}

.form-title p {
  color: var(--text2);
  font-size: 18px;
  margin: 0;
  margin-top: 10px;
}

.form-field {
  display: grid;
  margin: auto;
  justify-items: center;
  margin-top: 25px;
}

.form-field p {
  color: gray;
}

.form-field-input {
  position: relative;
}

.form-field-input input {
  width: 400px;
  height: 44px;
  font-size: 18px;
  padding-left: 20px;
  margin-bottom: 15px;
  background: #F4F5F8;
    border: 1px solid rgba(94, 115, 126, 0.24);
    border-radius: 3px;
}

.input {
  font-size: 16px;
  text-align: left;
  display: flex;
  
}

input,
button {
  border-radius: 5px;
  border: 2px solid transparent;
  outline: none;
}
.buttons {
  color: #fff;
  font-weight: 600;
  background: #00659F;
  box-shadow: 0px 4px 0px #004369;
  border-radius: 3px;
  padding: 13px;
  font-size: 1rem;
  width: 426px;
}

.a {
  text-decoration: none;
  color: #00659F;
  font-size: 14px;
}

.a-login,
.a-admin,
.a-register {
  text-decoration: none;
}
.admin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.login{
  margin: 0;
}

.block-button-text {
  margin: 10px;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.button-block {
  border-radius: 3px;
  color: #00659F;
  box-shadow: 0px 4px 0px #004369;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 30px;
}
.block-one-button{
  margin-top: 30px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .login{
    font-size: 22px;
  }
  .form-title p{
    font-size: 16px;
  }
  .form-field-input input{
    height: 30px;
    width: 270px;
    font-size: 14px;
  }
  .form{
    width: min(100%, 300px);
    padding: 35px;
  }
  .a{
    font-size: 12px;
  }
  .buttons{
    width: 295px;
    font-size: 14px;
    padding: 7px;
  }
}
@media (min-width: 1440px) and (max-width: 2560px) {
  .form {
    width: min(100%, 600px);
    padding: 80px;
  }
    .login {
      font-size: 40px;
    }
  
    .form-title p {
      font-size: 24px;
    }
  .form-title{
    margin-bottom: 60px;
  }
    .form-field-input input {
      height: 60px;
      width: 600px;
      font-size: 22px;
      margin-bottom: 30px;
    }
        .a {
          font-size: 20px;
        }
    .buttons {
      width: 615px;
      font-size: 22px;
      padding: 15px;
    }
}